


h2{
    text-align: center;
    margin: 20px;
}

form{

    width: 50%;
    margin: auto;
    background-color: rgba(43, 128, 226, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group{
   
    margin: 20px;
    text-align: center;
}